<div class="service">
  <div class="title">
    <h1>SERVICE</h1>
    <h2>Lorem ipsum dolor sit amet</h2>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="circle">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <h2>E-Commerce</h2>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
        aspernatur illo impedit! Dolorem asperiores ipsum, sequi maxime commodi
        ea esse, eaque quibusdam nulla explicabo accusamus quo ducimus non
        molestiae veritatis?
      </h3>
    </div>
    <div class="card">
      <div class="circle"></div>
      <h2>Responsive Design</h2>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
        aspernatur illo impedit! Dolorem asperiores ipsum, sequi maxime commodi
        ea esse, eaque quibusdam nulla explicabo accusamus quo ducimus non
        molestiae veritatis?
      </h3>
    </div>
    <div class="card">
      <div class="circle"></div>
      <h2>Web Security</h2>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
        aspernatur illo impedit! Dolorem asperiores ipsum, sequi maxime commodi
        ea esse, eaque quibusdam nulla explicabo accusamus quo ducimus non
        molestiae veritatis?
      </h3>
    </div>
  </div>
</div>
