* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #1f1e1e;
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.title h2 {
  font-size: 18px;
  color: #666;
}
.title h3 {
  font-weight: lighter;
  font-size: 18px;
  color: #666;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.card h3 {
  font-size: 16px;
  color: #777;
}
