.couverture {
  position: relative;
  text-align: center; /* Pour centrer le texte horizontalement */
}
.couverture img {
  width: 100%;
}

.texte {
  position: absolute;
  top: 50%; /* Pour centrer le texte verticalement */
  left: 50%; /* Pour centrer le texte horizontalement */
  transform: translate(-50%, -50%); /* Pour ajuster la position du texte */
  font-family: "Roboto", sans-serif;
  padding: 20px;
  color: white;
  width: 100%;
}

.texte h2 {
  font-size: 40px;
  margin: 0;
}
.texte h1 {
  font-size: 75px;
  margin: 50px;
}

.texte .btn {
  font-size: 20px;
  margin: 75px;
  padding: 25px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: yellow;
  color: white;
  border: none;
  border-radius: 5px;
}

.texte .btn:hover {
  background-color: rgb(138, 138, 2);
}
