<nav class="navbar">
  <div class="logo">logo ici</div>
  <ul class="nav-list">
    <li class="nav-item"><a href="#service">SERVICE</a></li>
    <li class="nav-item"><a href="#portfolio">PORTFOLIO</a></li>
    <li class="nav-item"><a href="#">ABOUT</a></li>
    <li class="nav-item"><a href="#">TEAM</a></li>
    <li class="nav-item"><a href="#">CONTACT</a></li>
  </ul>
</nav>
<div><app-couverture></app-couverture></div>
<div id="service" class="home">
  <app-service></app-service>
</div>

<div id="portfolio" class="about">
  <app-portfolio></app-portfolio>
</div>
