* {
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

.navbar {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  background-color: rgb(56, 55, 55);
  z-index: 1;
}
.navbar a {
  color: white;
}
.nav-list {
  justify-content: flex-end;
  display: flex;
}

.nav-list li {
  margin: 0 30px;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}
.nav-list li a:hover {
  color: yellow;
}
.nav-list li.active a {
  color: yellow;
}
